<ion-header>
  <ion-navbar>
    <ion-title>Inicio</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ng-container *ngFor="let post of posts; let i = index">
  <ion-card *ngIf="i < postCount">
  <ng-container *ngFor="let user of users;">
  <ion-item *ngIf="user.id == post.userId">
    <ion-row align-items-center>
    <ion-col col-2 (click)="openUser(user)">
    <ion-avatar item-start>
      <img src="https://loremflickr.com/300/300/perfil?random={{i}}">
    </ion-avatar>
    </ion-col>
    <ion-col col-7 (click)="openUser(user)">
    <h2>{{user.name}}</h2>
    <p>@{{user.username}}</p>
    </ion-col>
    <ion-col col-3 text-right>
    <ion-buttons>
      <button ion-button icon-only outline (click)="openPopover($event, post)">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
    </ion-col>
    </ion-row>
  </ion-item>
  </ng-container>

  <img src="https://loremflickr.com/400/200/car?random={{i}}" (click)="openPost(post)">

  <ion-card-content>
    <h2 ion-text color="primary">{{post.title | titlecase}}</h2>
    <p>{{post.body | slice:0:90 | titlecase}}...
    <a color="primary" (click)="openPost(post)">
      Ver mas
    </a>
    </p>
  </ion-card-content>

  <ion-row class="custom-show-comments-button">
    <ion-col>
      <button ion-button icon-start clear small block (click)="openPost(post)">
        <ion-icon name="text"></ion-icon>
        <div text-center >Ver Comentarios</div>
      </button>
    </ion-col>
  </ion-row>

</ion-card>
</ng-container>
<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>
<!-- Icono para agregar un nuevo post -->
<ion-fab right bottom class="custom-add-post-button">
  <button ion-fab color="danger" (click)="openAddpost()"><ion-icon name="add"></ion-icon></button>
</ion-fab>
<!-- -->
<!-- -->
</ion-content>
