<!--
  Generated template for the SinglepostPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Post</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
  <ion-item>
    <ion-row align-items-center>
    <ion-col col-2 (click)="openUser()">
    <ion-avatar item-start>
      <img src="https://loremflickr.com/300/300/perfil?random=1">
    </ion-avatar>
    </ion-col>
    <ion-col col-7 (click)="openUser()">
    <h2>{{user.name}}</h2>
    <p>@{{user.username}}</p>
    </ion-col>
    <ion-col col-3 text-right>
    <ion-buttons>
      <button ion-button icon-only outline (click)="openPopover($event, post)">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
    </ion-col>
    </ion-row>
  </ion-item>

  <img src="https://loremflickr.com/400/200/car?random=1">

  <ion-card-content>
    <p>{{post.body | titlecase}}</p>
  </ion-card-content>

</ion-card>
<ion-card>
 <ion-row>
    <ion-col>
        <h2 class="text-center" ion-text color="primary">Comments</h2>
    </ion-col>
  </ion-row>
<ion-list>
  <ion-item *ngFor="let comment of comments; let i = index">
    <ion-avatar item-start>
      <img src="https://loremflickr.com/400/200/car?random={{i}}">
    </ion-avatar>
    <h2>{{comment.email}}</h2>
    <p>{{comment.body | titlecase}}</p>
  </ion-item>
</ion-list>
</ion-card>
</ion-content>
