<ion-header>
  <ion-navbar>
    <ion-title>
      Usuarios
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
  <ng-container *ngFor="let user of users; let i = index">
  <ion-item (click)="openUser(user)">
    <ion-thumbnail item-start>
      <img src="https://loremflickr.com/300/300/perfil?random={{i}}">
    </ion-thumbnail>
    <h2>{{user.name}}</h2>
    <p>@{{user.username}}</p>
  </ion-item>
  </ng-container>
  </ion-list>
</ion-content>
