<!--
  Generated template for the UserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Perfil de usuario</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
<ion-card>
  <img src="https://loremflickr.com/300/300/perfil?random=1">
  <ion-card-content>
  <h1 color="primary">{{user.name}}</h1>
  <h2>@{{user.username}}</h2>
  <h2><ion-icon name="mail" class="custom-user-icon"></ion-icon>{{user.email}}</h2>
  <h2><ion-icon name="pin" class="custom-user-icon"></ion-icon>{{user.address.city}}</h2>
  </ion-card-content>
</ion-card>
  <ng-container *ngFor="let post of posts; let i = index">
  <ion-card *ngIf="i < postCount">

  <ion-item>
    <ion-row align-items-center>
    <ion-col col-2>
    <ion-avatar item-start>
      <img src="https://loremflickr.com/300/300/perfil?random=1">
    </ion-avatar>
    </ion-col>
    <ion-col col-7>
    <h2>{{user.name}}</h2>
    <p>@{{user.username}}</p>
    </ion-col>
    <ion-col col-3 text-right>
    <ion-buttons>
      <button ion-button icon-only outline (click)="openPopover($event, post)">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
    </ion-col>
    </ion-row>
  </ion-item>

  <img src="https://loremflickr.com/400/200/car?random={{i}}" (click)="openPost(post)">

  <ion-card-content>
    <h2 ion-text color="primary">{{post.title | titlecase}}</h2>
    <p>{{post.body | slice:0:90 | titlecase}}...
    <a color="primary" (click)="openPost(post)">
      Ver mas
    </a>
    </p>
  </ion-card-content>

  <ion-row class="custom-show-comments-button">
    <ion-col>
      <button ion-button icon-start clear small block (click)="openPost(post)">
        <ion-icon name="text"></ion-icon>
        <div text-center >Ver Comentarios</div>
      </button>
    </ion-col>
  </ion-row>

</ion-card>
</ng-container>
<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>
