<!--
  Generated template for the AddpostPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="!edit">Agregar post</ion-title>
    <ion-title *ngIf="edit">Editar post</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-list>

  <ion-item>
    <ion-label floating>Id de usuario</ion-label>
    <ion-input type="number" [(ngModel)]="newpost.userId"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Titulo</ion-label>
    <ion-input type="text" [(ngModel)]="newpost.title"></ion-input>
  </ion-item>

  <ion-item>
  	<ion-label floating>Descripcion</ion-label>
  	<ion-textarea [(ngModel)]="newpost.body"></ion-textarea>
  </ion-item>
  <!-- Si la variable edit es verdadera mostramos el boton de editar post, de lo contrario el boton de agregar post-->
  <button ion-button block (click)="addPost()" *ngIf="!edit">Agregar post</button>
  <button ion-button block (click)="editPost()" *ngIf="edit">Editar post</button>
  

</ion-list>
</ion-content>
