<ion-list class="popover-page">
  <ion-item>
    <ion-label (click)="editPost()">
    <ion-icon name="open"></ion-icon>
    Editar post
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label (click)="confirmDeletion()">
    <ion-icon name="trash"></ion-icon>
    Eliminar post
    </ion-label>
  </ion-item>
</ion-list>